{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw8 center">
  <div class="mw8 center">
    <h3 class="mw8 f3 b lh-title mt0 mb2">{{ .heading }}</h3>
    <p class="mw8 center">{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db mw8">

{{ partial "table" .Params.pricing }}

{{ partial "footer" . }}
